footer{
    text-align:center;
}

.logo{
    width:500px;
    height:230px;
    display:block;
    text-indent:-999px;
    background:url(./img/logo.jpg) no-repeat center center;
}

.wrap .row{
    margin-left:0px;
    margin-right:0px;
}